ul, li { margin: 0; padding: 0; list-style-type: none;}
div.clear { clear: both; }
body { font-family: 'Calibri light'; background-color: #eee; }

.dashboard-column {
    width: 250px;
    float: left;
}

.contact-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    margin: 0 10px 20px 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.contact-data {
    padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: 100%
}

.contact-data div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-contacts li {
    float: left;
}

.thj-contact-details {
    background-color: lightseagreen;
    width: 500px;
}

.thj-contact-details img {
    width: 150px;
    float: left;
}

.thj-contact-details .contact-data {
    float: left;
}

.has-action:hover {
    cursor: pointer;
}